.custom-tooltip {
  position: relative;
  border-bottom: 1px dotted #000; 
  cursor: pointer;
}

.custom-tooltip::before {
    content: attr(data-text); /* here's the magic */
    position: absolute;
    
    /* vertically center */
    top: 100%;
    left: 50%;
    
    /* move to right */
    margin-left:-60%; /* and add a small left margin */
    
    /* basic styles */
    left: 50%;
    width: 200px;
    padding:10px;
    border-radius:10px;
    background:#000;
    color: #fff;
    text-align:center;
    z-index: 1;
    display:none; /* hide by default */
  }

.custom-tooltip:hover:before {
    display:block;
  } 

.text-size-large {
  font-size: 1.2rem;
}

.jumbotron {
  background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.8) ),url(../images/christmas-evergreen.jpg);
}

body {
  background-color: #eeeeee;
}

.text-h1 {
  font-size: 8vw;
}